
/*cor e imagem de fundo*/

body{
    background: black url("./vingador.png") no-repeat right top fixed

}

/*letreiro (caverna do vingador */
h1 {
    color: white;
    font-size: 60px;
    font-style: italic;
    text-align: center;
    padding-bottom: 30px;
    
    
}


p{
    color: white;
    text-align: center;
    font-size: 30px;
    padding-top: 30px;
    
}

/*destinado a formatação do paragrafo */
.paragrafo{
    background-image: url("./bg.jpg");
    color: white;
    opacity: 85%;
    padding: 30px;
    padding-bottom: 100px;
    padding-top: 85px;
    margin: 0 25%;
    border-radius:10%;
    
}

/* colocando cor no "mestre dos mágos"*/
p strong{
    color: rgb(216, 37, 37);
}

.button{
    background-image:url("./fogo.gif"); 
    margin-left: 45%;
    width: 120px;
    height: 80px;
    border-radius: 20%;
    margin-top: 15px;
    font-size: 25px;
   
/*dedicado apenas a formatação da fonte*/    
}
button a{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    margin-top: 0 ;
    font-size: 25px;
    
}

footer p {
    font-size: 20px;
    color: white;
    padding-top: 100px;
}

/*efeitos do botão*/
.button:hover{
    color: red;
    font-size: 20px;
    background: red;
}
.button a:active{
    color: rgb(24, 80, 211);
}